!!!
%html

  %head
    %title Try R for Stats: an interactive tutorial
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "q3BH34YRyNZdPysYNE0FbM4bJl2hkY67BK0tEExs1a4", :name => "google-site-verification"}/
    %meta{:content => "Try Haskell in your browser! An interactive tutorial for the Haskell programming language.", :name => "description"}/
    %link{:href => "css/reset.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/tryhaskell.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 6]
      <style type="text/css" media="screen">
      div.primary-content { width:600px;margin-left:70px;float:left }
      </style>
    %script{:src => "js/lib.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.console.js", :type => "text/javascript"}
    %script{:src => "js/rforstats.js", :type => "text/javascript"}
    %script{:src => "js/raphael-min.js", :type => "text/javascript"}
  %body
    .page-wrap
      .primary-content
        .main-wrapper.bgs2
          .main-wrapper-top.sprites
          .main-wrapper-borders.bgs
            %h1.main-header.sprites
              Try Haskell! An interactive tutorial in your
              browser
            .menu.clearfix
              %a.reset-btn.sprites{:href => "javascript:"}
                %span Reset
            .clear
            .console-wrapper
              .console-wrapper-top.sprites
              .console-wrapper-borders.bgs
                .console
              .console-wrapper-bottom.sprites
            .main-wrapper-bottom.sprites
