!!!
%html

  %head
    %title Try R for Stats: an interactive tutorial
    %meta{ "http-equiv" => "Content-Type", 
      :content => "text/html; charset=utf-8" }
    = stylesheet_link_tag "stylesheets/screen.css"
  
  %body
    %h1 Hello, world!
